body {
  background-color: #FFC0C4;
  color: #40231F;
  font-family: 'Open Sans';
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 20px;
}

div.new-todo-input {
  position: relative;
}

input.new-todo-input {
  padding: 10px 0px;
  width: 450px;
}

input.new-todo-input[type=text] {
  color: black;
  font-family: 'Open Sans';
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 60px;
}

::-webkit-input-placeholder{
  color: #BABFBB;
  font-style: italic;
  font-weight: 300;
}

.fa {
  padding: 10px 15px;
  position: absolute;
}

.fa-times {
  position: absolute;
}

.unselected-gray {
  color: #BABFBB;
}

.selected-gray {
  color: #575957;
}

input:focus {
  outline: none;
}

section.todo-list {
  margin: 0 auto;
  text-align: center;
}

.todo-task {
  position: relative;
  width: 515px;
  margin: 0 auto;
}

.delete-icon {
  color: #FFC0C4;
  opacity: 0;
  right: 0px;
  top: 0px;
}

.filters-tab {
  border: 1.5px solid #BABFBB;
  background-color: white;
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 512px;
}

.filters-tab p {
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  padding: 5px;
}

.filters {
  display: flex;
  margin: 0 auto;
}

.filters-tab > p {
  position: absolute;
}

.new-todo-input:hover + .delete-icon {
  opacity: .5;
}

.delete-icon:hover {
  opacity: 1;
}

.selected {
  border: 1px solid gray;
}

.clear-completed {
  position: relative;
  right: 0px;
}

.line-through {
  text-decoration: line-through;
}

.hide,
#hide {
  display: none;
}